.WholeContainter{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    /* align-items: center; */
    
}
.TextBar{
    align-items: center;
    margin-left: -25rem;
    margin-bottom: 2rem;
    margin-top: 200px; 
}

.TextBar h1{
    font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font: 1000;
    font-weight: 800;
    color: #1E0E62;
    align-self: self-start;
    margin-bottom: 3rem;
}

.TextBar p{
    font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    color: #151439;
}

.BookingConfirmedText{
    padding-right: 28rem;
    font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: #1E0E62;
    text-decoration: none;
    margin: 1rem;
    margin-left: 10rem;
}