.WholeContainter{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 0.2rem; /* 确保在导航栏下方 */
    width: 100%;
    /* padding: 20rem; */
}

.DetailsContainer { /* 控制和上方Book Hotel的间距*/
    display: grid;
    grid-template-columns: 1fr 450px; /* 两列布局 */
    grid-template-rows: auto auto; /* 行高自动 */
    flex-direction: row;
    gap: 2rem; /* 子元素间的间距 */
    justify-content: space-between;
    width: 70%;
    align-self: stretch;
    /* max-width: 1200px; */
    margin-top: 0.2rem; /* 确保与顶部内容有适当的间距 */
}

.BookHotelBar {
    font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 5rem;
    font-weight: 800;
    color: #1E0E62;
    text-decoration: none;
    margin: 1rem;
    align-self: flex-start; /* 使标题在父容器内左对齐 */
    margin-left: 1rem; /* 控制偏左的距离 */
}

.PersonalDetailContainer{
    grid-column: 1 / 2; /* 第一列 */
    grid-row: 1 / 2; /* 第一行 */
    width: 120%;
    height: auto;
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-bottom: 2rem; 
}

.PaymentInformationContainer{
    grid-column: 1 / 2; /* 第一列 */
    grid-row: 2 / 3; /* 第二行 */
    width: 120%;
    height: auto;
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-bottom: 2rem; 
}


.PersonalDetailContainer p, .PaymentInformationContainer p{
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    padding: 10px 40px; /* 根据需要调整内边距，扩大背景框尺寸 */
    display: inline-block; /* 让元素大小自适应内容 */
    margin: 10px 0; /* 可选：设置上下外边距，确保元素间距 */
    text-align: left;
    color: #6B7280; /* 设置文字颜色 */
    width: 100%;
}
.BoxContainers{
    text-align: left;
}

.container_box{
    border-radius: 30px; 
    border:0.5px solid #ccc;
    height: 3rem;
    width: 100%;
    padding-left: 1rem;
}
.request_box{
    border-radius: 30px; 
    border:0.5px solid #ccc;
    height: 10rem;
    width: 100%;
    padding-left: 1rem;
    
}
.FirstRowBar, .SecondRowBar, .ThirdRowBar, .pFirestRowBar,
.pSecondRowBar, .pThirdRowBar, .pFourthRowBar, .pFifthRowBar, .pSixthRowBar{
    display: flex;
    font-size: 1.2rem;
    /* justify-content: space-between; */
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
    
}

.SpecialRequestText{
    margin-top: 3rem;
}

.ProceedBookingSummary {
    margin-top: 2rem;
    background-color: #191E43;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    padding-left: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    justify-content: space-between;
    flex: 1;
    
}



.BookingSummaryContainerLI {
    grid-column: 2 / 3; /* 第二列 */
    grid-row: 1 / 2; /* 跨两行 */
    right: 2rem;
    width: 100%;
    height: 90%;
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* position: absolute; */
    margin-bottom: 2rem;
    margin-right: 10rem;
    margin-left: 20rem; /*和左边的间距，重要！！*/
}

.HotelName, .RoomType{
    font-family: "Inter","Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    color: #000000;
    font-weight: bold;
}

.NoOfRoom, .NoOfPeoplePerRoom, .DashedLine{
    font-family: "Inter","Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    color: #6B7280;
}

.CheckInAndOutContainer {
    display: flex;
    flex-direction: column;
    /* gap: 0.2rem; */
}

.CheckInAndOutBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CheckInBar, .CheckOutBar {
    font-size: 1rem;
    color: #6B7280; /* 左边的文本颜色 */
}

.NoOfNightsLabel {
    font-size: 1rem;
    text-align: right;
}

.TotalPaymentContainer {
    display: flex;
    flex-direction: column;
}
.TotalBar{
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

.IncludeTaxSentence{
    font-size: 0.8rem;
    margin-top: -2%;
}

.EditBookingBar {
    margin-top: 0.5rem;
    background-color: #191E43;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    padding-left: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    justify-content: space-between;
    flex: 1;
    /* margin: 0 0.5rem; */
}

