.FPWholeContainer {

    
}
.ContentContainer{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* max-width: 2000px;
    min-width: 800px;  */
    margin-left: auto;
    margin-right: auto;
}
.FPLeftContainer {
    flex-direction: column;
    display : flex;
    align-items: center;
    justify-content: center;
    flex:1;
    /* max-width: 2000px;
    min-width: 800px;  */
    /* margin-left: auto;
    margin-right: auto; */
}

.FPRightContainer{
    flex-direction: column;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.FPMessageContainer{
    color: #191E43;
}

.FPSpecialMessage{
    font-size: 2rem;

}

.InputContainer{
    /* margin-top: 2rem; */
    /* padding: 2rem; */
    
}

.FP_container_box{
    background-color: #F6F3E9;
    border-radius: 30px; 
    margin-top: 1rem;
    border:0.5px solid #ccc;
    height: 3rem;
    width: 100%;
    padding-left: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.FPLogIn{
    margin-top: 1.5rem;
    background-color: #191E43;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    padding-left: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    /* justify-content: space-between; */
    /* flex: 1; */
}

.FPForgetPassword{
    text-align: center;
    margin-top: 1rem;
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); */

}

.FPRegisterAccount{
    text-align: center;
    margin-top: 2rem;
    font-size: large;
}

.FPRegisterImage{
    height: 100%;
    width: 80%;
    overflow: hidden;
    /* align-self: center; */
    /* align-content: center; */
}