@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.hotel-details {
    max-width: 2000px;
    width: 1700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F6F3E9;
  }
  
  .breadcrumb {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #666;
  }
  
  .detailspg-hotel-card {
    display: flex;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }

  .google-map{
    padding: 20px;
  }

  .hotel-categories{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-top: 20px;
    padding: 40px;
    font-size: 20px;
  }

  .hotel-categories h2{
    margin-bottom: 10px;
  }

  .category-card{
    font-size: 20px;
  }
  
  .detailspg-hotel-image {
    width: 40%;
    object-fit: cover;
    padding: 20px;
    border-radius: 12px;
  }
  
  .detailspg-hotel-info {
    width: 50%;
    padding-top: 40px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  
  .detailspg-hotel-info h1 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .rating {
    margin-top: 20px;
  }
  
  .rating .star {
    color: #ffd700;
    font-size: 40px;
  }

  .trustyou-score{
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 20px;
  }
  
  .price {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .see-rooms-btn {
    background-color: #1d3d73;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 500px;
  }
  
  .content-wrapper {
    display: flex;
    gap: 20px;
  }
  
  .detailspg-main-content {
    flex: 3;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .hotel-overview {
    padding: 20px;
    font-size: 20px;
  }

  .hotel-overview h2 {
    margin-bottom: 10px;
  }


  .review{
    padding: 20px;
    font-size: 20px;
    width: 95%
  }

  .review h2 {
    margin-bottom: 10px;
  }
  
  .sidebar {
    flex: 1;
    background-color: white;
    padding: 50px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .sidebar h2 {
    margin-bottom: 10px;
  }

  .amenities-list{
    font-size: 20px;
  }
  
  .rating-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .bar-container {
    flex-grow: 1;
    background-color: #e0e0e0;
    height: 10px;
    margin: 0 10px;
    border-radius: 5px;
  }
  
  .bar {
    background-color: #1d3d73;
    height: 100%;
    border-radius: 5px;
  }
  
  .see-more-btn {
    background-color: #d0caca;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .guest-love-list, .facilities-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .guest-love-list li, .facilities-list li {
    margin-bottom: 10px;
  }
  
  
  .select-btn {
    background-color: #1d3d73;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  .room-card {
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    width: 1300px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px 0;
  }
  
  .room-image {
    width: 40%;
    height: 300px;
    object-fit: cover;
  }

  .room-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .room-details {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .room-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 8px 0;
    color: #333333;
  }
  
  .room-description {
    font-size: 20px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 10px;
  }
  
  .room-info {
    font-size: 20px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 4px;
  }
  
  .room-wifi {
    font-size: 20px;
    color: #666666;
    margin-bottom: 180px;
  }
  
  .room-wifi::before {
    content: "📶"; /* Unicode for wifi symbol */
    margin-right: 10px;
  }
  
  .room-price-details {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .room-price {
    font-size: 27px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 0;
  }
  
  .room-stay-info {
    font-size: 20px;
    font-weight: lighter;
    color: #202020;
    margin-bottom: 0;
    margin-right: 20px;
  }

#number {
    width: 90%;
    padding-top: 50%;
    padding-left: 20px;
    margin: 0;
    border: 0;
    font-size: 3em;
    color: #444;
    text-align: center;
}

.input-container {
    position: relative;
    width: 20%;
}

.button-container {
  display:block;
  height: 200px;
  position: relative;
}

.button-center {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.submit-button {
  height: 80px;
  width: 200px;
  padding: 100px;
  padding: 15px 32px;
}

#minus,
#plus {
    font-family: monospace;
    background: #1d3d73;
    color: #fff;
    font-weight: 900;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 30px;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
}

#minus {
    content: "-";
    top: 40%;
    left: 0;
}

#plus {
    content: "+";
    right: 0;
    top: 40%;
}